<ion-header>
  <ion-toolbar>
    <ion-title>Cerita dongeng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
  <form [formGroup]="form">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input type="text" placeholder="Search" formControlName="searchTerm"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-button (click) = "searchMovie()" [disabled]="!form.valid">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-end">
      <ion-button (click)="openFilterModal()" [disabled]="!searched">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</form>
<ion-row *ngFor="let result of loadedMovieList">
  <ion-col>
      <ion-item>
        <ion-avatar slot="start" [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'cerita',
        result.id
        ]">
          <img [src]="result.image" *ngIf="result.image !== 'N/A'">
        </ion-avatar>
        <h4 class="ion-padding" [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'cerita',
        result.id
        ]">{{ result.title }}</h4>
        <p [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'cerita',
        result.id
        ]">{{ result.year }}</p>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="toggleLikeMovie(result.id)">
            <ion-icon *ngIf="toggleHeart(result.id)" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="!toggleHeart(result.id)" name="heart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
