<ion-header>
  <ion-toolbar>
    <ion-title>Liked Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding">
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item *ngFor="let result of loadedMovieList">
        <ion-avatar slot="start" [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'saved',
        result.id
        ]">
          <img [src]="result.image" *ngIf="result.image !== 'N/A'">
        </ion-avatar>
        <h4 class="ion-padding" [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'saved',
        result.id
        ]">{{ result.title }}</h4>
        <p [routerLink]="[
        '/',
        'cerita-home',
        'tabs',
        'saved',
        result.id
        ]">{{ result.year }}</p>
        <ion-buttons slot="end">
          <ion-button fill="clear" [routerLink]="[
          '/',
          'cerita-home',
          'tabs',
          'saved',
          'edit',
          result.id
          ]">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="dislikeMovie(result.id)">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
